<!doctype html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
  <head>
	
	<th:block th:replace="fragments/commons :: src-head"></th:block>
    <title>PIZZA LIST</title>
    
  </head>
  <body>
    <h1>PIZZA LIST</h1>
    
    <div class="container col-6" th:if="${pizzaList.isEmpty()}">
    	<h1 class="text-center">La lista è vuota.</h1>
    </div>
    
    <div class="container list-group col-6" th:unless="${pizzaList.isEmpty()}" th:each="pl : ${pizzaList}">
  		<a href="#" class="list-group-item" th:text="${pl.nome}">PLACEHOLDER</a>
		<a href="#" class="list-group-item">PLACEHOLDER</a>
		<a href="#" class="list-group-item">PLACEHOLDER</a>
		<a href="#" class="list-group-item">PLACEHOLDER</a>
		<a href="#" class="list-group-item">PLACEHOLDER</a>
	</div>

  </body>
</html>