<!doctype html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
  <head>
	
	<th:block th:replace="fragments/commons :: src-head"></th:block>
    <title>Aggiungi Pizza</title>
    
  </head>
  <body>
    <h1>Aggiungi una nuova pizza!</h1>
    
    	<form 
    		id="form-pizza"
    		th:object="${pizza}"
    		th:action="@{/menu/le-nostre-pizze/nuova-pizza}"
    		method="POST"
    	>
			  <div class="mb-3">
				    <label for="nome" class="form-label">Nome Pizza</label>
				    <input type="text" class="form-control" id="nome" th:field="*{nome}">
			  </div>
			  <div class="mb-3">
				    <label for="descrizione" class="form-label">Descrizione</label>
				    <input type="text" class="form-control" id="descrizione" th:field="*{descrizione}">
			  </div>
			  <div class="mb-3">
				    <label for="prezzo" class="form-label">Prezzo</label>
				    <input type="number" class="form-control" id="prezzo" th:field="*{prezzo}">
			  </div>
			  <button type="submit" class="btn btn-primary">Salva</button>
		</form>

  </body>
</html>