<!doctype html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
  <head>
	
	<th:block th:replace="fragments/commons :: src-head"></th:block>
    <title>Aggiungi Pizza</title>
    
  </head>
  <body>
  	<nav th:replace="fragments/commons :: navbar(menu)"></nav>
  	
  	<!-- Sezione Comandi -->
  	<section class="container my-3 text-center">
  	
  		<!-- Bottoni azioni menù pizze -->
		<th:block th:replace="fragments/pizzaFragments :: pizzamenuBtn(menu)"></th:block>
	
    	<h1>Aggiungi una nuova pizza!</h1>
  	</section>
  	
  	<!-- Sezione form -->
    <section class="container my-5">
    	<form 
    		id="form-pizza"
    		th:object="${pizza}"
    		th:action="@{/menu/le-nostre-pizze/salva-pizza}"
    		method="POST"
    		class="container col-6"
    	>
    	
    	<!--  campo nascosto per l'id -->
		<input type="hidden" th:field="*{id}">
		
		<!-- inizio labels -->
		<div class="row">
			<div class="col-8"> <!-- DIV laterale sinistro con nome, descrizione e prezzo -->
				  <!-- nome pizza -->
				  <div class="mb-3">
					    <label for="nome" class="form-label">Nome Pizza</label>
					    <input type="text" class="form-control" id="nome" th:field="*{nome}" th:errorClass="is-invalid">
					    <div th:if="${#fields.hasErrors('nome')}" class="invalid-feedback">
					    	<ul>
					    		<li th:each="error : ${#fields.errors('nome')}" th:text="${error}">PLACEHOLDER</li>
					    	</ul>
					    </div>
				  </div>
				  <!-- descrizione -->
				  <div class="mb-3">
					    <label for="descrizione" class="form-label">Descrizione</label>
					    <textarea class="form-control" id="descrizione" th:field="*{descrizione}"rows="10"></textarea>
				  </div>
				  <!-- prezzo -->
				  <div class="mb-3">
					    <label for="prezzo" class="form-label">Prezzo</label>
					    <input type="number" step="0.01" class="form-control" id="prezzo" th:field="*{prezzo}" th:errorClass="is-invalid">
					    <div th:if="${#fields.hasErrors('prezzo')}" class="invalid-feedback">
					    	<ul>
					    		<li th:each="error : ${#fields.errors('prezzo')}" th:text="${error}">PLACEHOLDER</li>
					    	</ul>
					    </div>
				  </div>
				  <button type="submit" class="btn btn-warning">Salva</button>
				  <a href="/menu/le-nostre-pizze" class="btn btn-warning">Annulla</a>
			</div>
			
			<!-- checklist ingredienti -->
			<div class="col-4">
				<p class="text-disabled">Ingredienti</p>
				<div class="form-check" th:each="i : ${ingredienti}">
				  <input class="form-check-input" th:field="*{ingredientiPizza}" type="checkbox" th:id="|ingrediente_${i.id}|" th:value="${i.id}">
				  <label class="form-check-label" th:for="|ingrediente_${i.id}|" th:text="${i.nome}">
				    PLACEHOLDER
				  </label>
				</div>
			</div>
			
		</div>
		</form>
    </section>
    
    <th:block th:replace="fragments/commons :: footer"></th:block>
  </body>
</html>