<!doctype html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
  <head>
	
	<th:block th:replace="fragments/commons :: src-head"></th:block>
	<th:block th:replace="fragments/commons :: src-js"></th:block>
	<link th:href="@{/style.css}" rel="stylesheet" />
    <title>Le nostre pizze</title>
    
  </head>
  <body>
  	<nav th:replace="fragments/commons :: navbar(menu)"></nav>
  	
  	<!-- Sezione di Controllo -->
  	<section> 
  		<!-- Messaggio di successo azione -->
	  	<th:block th:if="${successMessage != null && successMessage != ''}">
	  		<div th:text="${successMessage}" class="alert alert-success text-dark"></div>
	  	</th:block>
	  	
	  	<!-- Bottoni azioni menù pizze -->
	  	<th:block th:replace="fragments/pizzaFragments :: pizzamenuBtn"></th:block>
	  	
    </section>
    
    <div class="container col-6" th:if="${pizzaList.isEmpty()}">
    	<h1 class="text-center">La lista è vuota.</h1>
    </div>
    
    <div class="container p-5" th:unless="${pizzaList.isEmpty()}">
    	<div class="row px-5">
    		<div class="col-sm-12 col-md-6 col-xl-4 my-3 text-center align-self-stretch" th:each="pl : ${pizzaList}">
	    	<!-- Cards Pizze -->
	    	<div class="shadow">
		    	<!-- Aggiunti come Anchor per condurre a PizzaDetail in futuro-->
		    	<div class="bg-dark text-center rounded-top py-2">
		  			<a href="#" class="text-decoration-none text-light fw-bold fs-4" th:text="${pl.nome}">PLACEHOLDER</a>
		    	</div>
		    	<!-- DIV azioni -->
		    	<div class="container-flex text-center bg-dark pb-2">
		    		<!-- Tasto RIMUOVI -->
		    		<a 
			    		class="btn btn-warning col-2 p-1 text-light" 
			    		th:href="@{|/menu/le-nostre-pizze/rimuovi-pizza/${pl.nome}/${pl.id}|}" 
			    		title="Rimuovi"
			    		onclick="return confirm('Sei sicuro?')"
			    	>
		    			<i class="fa-solid fa-trash"></i>
		    		</a>
		    		<!-- Tasto MODIFICA-->
		    		<a 
			    		class="btn btn-warning col-2 p-1 text-light" 
			    		th:href="@{|/menu/le-nostre-pizze/modifica-pizza/${pl.nome}/${pl.id}|}" 
			    		title="Modifica"
		    		>
		    			<i class="fa-solid fa-file-pen"></i>
		    		</a>
		    		<!-- Tasto IMMAGINI -->
		    		<a 	class="btn btn-warning col-2 p-1 text-light" 
		    			th:href="@{|/immagine/${pl.id}|}" 
		    			title="Images">
	  					<i class="fa-solid fa-images"></i>
	  				</a>
		    	</div>
		    	<!-- DIV immagine -->
		    	<div class="">
		    		<img th:if="${pl.immagini.size() == 0}" class="img-fluid image-container border" src="/img/pizza_ph.png" alt="Logo">
		    		<div th:each="img : ${pl.immagini}">
		    			<img th:src="@{|/immagine/${img.id}/content|}" class="img-fluid image-container" alt="">
		    		</div>
	    		</div>
	    		
	    		<!-- DIV ingredienti -->
	    		<div class="container py-2 card-bodyfixed border">
				    <table class="table">
				        <thead>
				            <tr>
				              <th>Ingredienti</th>
				            </tr>
				        </thead>
				        <tbody>
				            <tr class="align-middle" th:each="pi : ${pl.ingredientiPizza}">
				              <td th:text="${pi.nome}"></td>
				            </tr>
				        </tbody>
				    </table>
				</div>

		    	<!-- DIV prezzo -->
		    	<div class=" bg-dark text-center fs-2 rounded-bottom">
					<p class="text-light fw-bold" th:text="${#numbers.formatDecimal(pl.prezzo, 0, 'COMMA', 2, 'POINT')} + ' €'">PLACEHOLDER</p>
		    	</div>
	    	</div>
	    	<!-- Fine Cards-->
    		</div>	
    	</div>
	</div>

	<th:block th:replace="fragments/commons :: footer"></th:block>
  </body>
</html>