<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="fragments/commons :: src-head"></th:block>
<title>Pizza Images</title>
</head>
<body>
	<nav th:replace="fragments/commons :: navbar('menu')"></nav>
	<div class="container">
		<h2 class="text-muted my-3" th:text="'Aggiungi una nuova immagine per ' + ${immagineForm.pizza.nome}"></h2>
		<hr />
		<div class="container">
		<!-- Inizio Form (mappata su un oggetto di tipo ImageForm, non Image -->
		<div class="container col-6">
			<form 
				id="form-img" 
				th:object="${immagineForm}"
				th:action="@{/immagine/salva}" 
				method="POST"
				enctype="multipart/form-data"
				>
				<input type="hidden" th:field="*{pizza}">
				<div class="mb-3 d-flex">
				  <label for="contentMultipart" class="form-label"></label>
				  <input class="form-control" type="file" id="contentMultipart" th:field="*{contentMultipart}">
				  <button class="btn btn-warning" type="submit">Save</button>
				</div>
			</form>
		</div>
			<!--  fine form -->
			<!--  inizio lista (model attribute imageList) -->
			<div class="row">
				<div class="col-4" th:each="img : ${immagineList}">
					<!-- Card -->
					<div class="my-5 mx-2">
						<!-- Header -->
						<div class="bg-dark text-center rounded-top py-2">
		  					<p class="text-decoration-none text-light fw-bold fs-4" th:text="${img.pizza.nome} + ' #' + ${img.id}">PLACEHOLDER</p>
		    			</div>
		    			<!-- Header -->
						<img th:src="@{|/immagine/${img.id}/content|}" class="img-fluid image-controller" alt="">
						<!-- Footer -->
						<div class="bg-dark text-center rounded-bottom py-2">
		  					<!-- Tasto RIMUOVI -->
				    		<a 
					    		class="btn btn-warning p-1 text-light col-3" 
					    		th:href="@{|/immagine/${img.pizza.id}/${img.id}/rimuovi|}" 
					    		title="Rimuovi"
					    		onclick="return confirm('Sei sicuro?')"
					    	>
					    		<i class="fa-solid fa-trash-can"></i></a>
				    		</a>
		    			</div>
					</div>
				</div>
			</div>
			
			<!--  fine lista -->
		</div>
	</div>

	<th:bock th:replace="fragments/commons :: src-js"></th:bock>
	<th:block th:replace="fragments/commons :: footer"></th:block>

	
</body>
</html>