<!doctype html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
  <head>
	
	<th:block th:replace="fragments/commons :: src-head"></th:block>
    <title>Java's Pizza</title>
    
  </head>
  <body>
  	<nav th:replace="fragments/commons :: navbar(home)"></nav>
    <section class="container text-center py-5">
    		<h1>Java's Pizza</h1>
	</section>
	<section class="container pb-5">
		<img src="/img/homepage.jpg" class="img-fluid w-100 border shadow" alt="homepagepic">

	</section>
	
	
	<th:block th:replace="fragments/commons :: footer"></th:block>
  </body>
</html>